nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a.navbar-brand(href="#header") s.w.e.e.p
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_intro") 引言
        li
          a(href="#section_restaurant") 餐廳
        li
          a(href="#section_study") 研究動機/研究目標
        //- li
        //-   a 製作
          

header#header
  .container
    .title
      h1(
        data-0="transform: translateY(-20px)" 
        data-700="transform: translateY(100px)"
      ) Google評論資料探勘應用
      hr
      h4 google美食評論對你來説是掃雷神器、還是踩雷地獄?
section#section_intro
  .container
    .row
      .col-md-6.left
        .text.rbig(
        data-bottom-top="transform: translateX(-100px); opacity: 0"
        data-center="transform: translateX(0px); opacity: 1")
          p 人們熟悉一間餐廳最快的方法 <br>除了實際造訪以外<br>就是去查看他們的google評論
        hr(
        data-0="transform: scale(-1, 0)"
        data-650="transform: scale(1, 1)"
        )
        .text.lsmall
          p It's a topic about <br> google map comment <br> from tunghai university
      .col-md-6.right
        p 你認為在嘗試新店家、新菜色之前<br>能夠快速查看google的美食評論<br>讓用餐體驗更好?<br>但你卻沒想到google的美食評論<br>數量非常的龐大<br>以至於容易迷失在茫茫評論海之中!

section#section_restaurant
  .text.main(
        data-bottom-top="transform: translateY(-100px); opacity: 0"
        data-center="transform: translateY(0px); opacity: 1")
    p Restaurant
    hr
  .container
    .row
      .col-md-12.res
        .col-md-4.res
          .space
            p 本格燒肉
            .img_wrap
              img(src="https://res.cloudinary.com/fishwheel/image/upload/v1662439613/%E5%B0%88%E9%A1%8C%E5%9C%96%E7%89%87/%E5%B0%81%E9%9D%A2%E3%80%81%E9%95%B7%E6%A2%9D%E5%9C%96%E3%80%81%E9%85%8D%E5%9C%96/meat_fiqdqp.png", alt="")
        .col-md-4.res
          .space
            p 燒肉スマイル
            .img_wrap
              img(src="https://res.cloudinary.com/fishwheel/image/upload/v1662439618/%E5%B0%88%E9%A1%8C%E5%9C%96%E7%89%87/%E5%B0%81%E9%9D%A2%E3%80%81%E9%95%B7%E6%A2%9D%E5%9C%96%E3%80%81%E9%85%8D%E5%9C%96/bacon_ngvzvx.png", alt="")
        .col-md-4.res
          .space
            p 有之和牛
            .img_wrap
             img(src="https://res.cloudinary.com/fishwheel/image/upload/v1664859536/%E5%B0%88%E9%A1%8C%E5%9C%96%E7%89%87/%E5%B0%81%E9%9D%A2%E3%80%81%E9%95%B7%E6%A2%9D%E5%9C%96%E3%80%81%E9%85%8D%E5%9C%96/chinese-food_na6kqg.png", alt="")
      .col-md-12.res
        .col-md-4.res
          .space
            p 築間
            .img_wrap
              img(src="https://res.cloudinary.com/fishwheel/image/upload/v1664859537/%E5%B0%88%E9%A1%8C%E5%9C%96%E7%89%87/%E5%B0%81%E9%9D%A2%E3%80%81%E9%95%B7%E6%A2%9D%E5%9C%96%E3%80%81%E9%85%8D%E5%9C%96/hot-pot_2_bhe1ld.png", alt="")
        //- .col-md-4.res
        //-   .space
        //-     p 築間集團
        //-     .img_wrap
        //-      img(src="https://res.cloudinary.com/fishwheel/image/upload/v1662458564/%E5%B0%88%E9%A1%8C%E5%9C%96%E7%89%87/%E5%B0%81%E9%9D%A2%E3%80%81%E9%95%B7%E6%A2%9D%E5%9C%96%E3%80%81%E9%85%8D%E5%9C%96/office-building_fxwqte.png", alt="")
             
section#section_study
  .text.main(
        data-bottom-top="transform: translateY(-100px); opacity: 0"
        data-center="transform: translateY(0px); opacity: 1")
    p Study
    hr.ver
  .container
    .row
      .col-md-12.up.col-lg-12
        .text(
        data-bottom-top="transform: translateX(-100px); opacity: 0"
        data-center="transform: translateX(0px); opacity: 1")
          .title 研究動機
          p 許多人去吃飯之前會先打開google地圖查看店家評論<br>美食之都台灣在這方面的資訊量又尤其龐大<br>加上現代人生活忙碌對於資訊往往只想知道最精華的部分<br>但是評論數往往多則上千條，組員們也對此深受其擾，因此想在這茫茫評論海中統整並擷取出評論精華!<br><br>
      hr.horizen
      .col-md-12.under.col-lg-12
        .text(
        data-bottom-top="transform: translateX(100px); opacity: 0"
        data--100-bottom="transform: translateX(0px); opacity: 1")
          .title 研究目標
          p 我們期望能夠以此研究為基礎來瞭解消費者對於餐廳的感想與需求<br>包括餐點的美味程度、服務人員態度、場地環境等等<br>並且根據消費者所提出的評論與建議，來協助餐廳業者在管理與經營上進行改善<br>並規劃出能滿足消費者需求的各項措施，以提升餐廳業者的競爭力並且讓消費者享受在此餐廳的飲食!


footer.jumbotron
  .container
      h4 東海大學資訊管理學系<br>第18屆專題小組